log "/var/log/bird.log" all;
log syslog all;

router id 10.1.{{ node_number }}.2;
define myas = {{ 65000 + node_number }};

protocol device { }

protocol kernel {
    persist;
    scan time 20;
    export all;
    import all;
}

protocol static {
    route 172.16.100.0/24 via 10.1.{{ node_number }}.2;
}

filter r1_filter {
    accept;
}

protocol bgp s{{ node_number }} {
    description "S{{ node_number }}";
    debug { states, events };
    local as 6500{{ node_number }};
    neighbor 10.1.{{ node_number }}.254 as 65000;
    next hop self;
    route limit 50;
    default bgp_local_pref 300;
    import all;
    export filter r1_filter;
}
